@media (max-width: 767px) {
    html {
        font-size: 10.6666666666px;
    }

    .hero {
        min-height: 700px;
        background-image: url("./img/hero_bg_mobile.png");
        background-position: calc(50% + 84px) calc(50% - 106px);

        &__content {
            align-items: center;
            padding-top: 107px;
            padding-bottom: 131px;
        }
        &__title {
            font-size: 40px;
            text-align: center;
        }
        &__text {
            text-align: center;
            line-height: 100%;
            margin-bottom: 36px;
            padding-inline: 23.5px;
        }

        &__btn {
            padding-inline: 103.5px;
        }
    }
    .ticker {
        padding-top: 16px;
        padding-bottom: 16px;
        &__list {
            gap: 27.4px;
        }
        &__item {
            font-size: 1.5rem;
            letter-spacing: 0.04em;
            gap: 27.4px;
            &::after {
                width: 1.813125rem;
                height: 1.813125rem;
            }
        }
    }
    
    .main {
        padding-top: 48px;
        padding-bottom: 10px;
    }

    .games-about {
        display: none;
    }   

    .games {
        margin-top: 0;

        &__title {
            font-size: 40px;
            margin-bottom: 48px;
        }

        &__content {
            gap: 24px;
        }

        &-card {
            grid-template-columns: 1fr;
            
            &__img {
                width: 100%;
                &_change-order {
                    order: -1;
                }
            }

            &__content {
                padding: 29px;
                padding-bottom: 32px;
            }
            &__title {
                margin-bottom: 16px;
            }
            &__desc {
                line-height: 100%;
                margin-bottom: 32px;
            }
            &__btn {
                width: 100%;
            }

        }
    }

    .footer {
        &__content {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    
    

}