* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body, a, button, input, select, textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;     
    line-height: 2rem;   
    font-weight: 400;    
    color: #202027;
}

.center {
    max-width: 1200px;
    margin-inline: auto;
}

.hero {
    min-height: 100vh;
    background-color: #ccc;
}