* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body, a, button, input, select, textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 400;
  color: #202027;
}

.center {
  max-width: 1200px;
  margin-inline: auto;
  inline-size: min(100% - 2rem, 1200px);
}

.hero {
  min-height: 100svh;
  background-color: #E1FF8F;
  background-image: url("./img/hero_bg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: calc(50% + 280px) calc(50% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__content {
  padding-top: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
  padding-top: 40px;
  margin-bottom: 24px;
  max-width: 769px;
}
.hero__text {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 48px;
  max-width: 720px;
}
.hero__text-bold {
  font-weight: 600;
}
.hero__btn {
  background-color: #202027;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 142%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px 65px;
  border-radius: 60px;
  box-sizing: border-box;
  border: 1px solid #202027;
  transition: all 0.4s;
}
.hero__btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.ticker {
  background-color: #BCEC30;
  overflow: hidden;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}
.ticker__track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: ticker-scroll 40s linear infinite;
}
.ticker__list {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  list-style: none;
  gap: 51px;
}
@keyframes ticker-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.ticker__item {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 110%;
  display: inline-flex;
  align-items: center;
  gap: 51px;
}
.ticker__item::after {
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  background: url("./img/star.svg") no-repeat center;
  background-size: contain;
}

.main {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 144px;
  background-image: url("./img/about-games_bg.png"), url("./img/games_bg1.png"), url("./img/games_bg2.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: calc(50% + 90px) 70px, calc(50% + 615px) 1555px, calc(50% + 615px) calc(100% - 50px);
}

.games-about {
  padding-bottom: 50px;
}
.games-about__title {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 24px;
}
.games-about__desc {
  color: #FFFFFF;
  max-width: 788px;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 72px;
}
.games-about__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: stretch;
}
.games-about__col {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games-about__link {
  text-decoration: none;
}

.games-about-card {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.18s ease;
  transform-origin: center;
  cursor: pointer;
}
.games-about-card:hover {
  transform: scale(1.07);
}
.games-about-card__img {
  width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
}
.games-about-card__content {
  margin: 32px;
  margin-bottom: 36px;
}
.games-about-card__number {
  display: inline-block;
  background-color: #F7F7F7;
  border-radius: 52.58px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline: 16px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
  color: #202027;
  margin-bottom: 16px;
}
.games-about-card__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
}

.games {
  margin-top: 46px;
}
.games__title {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 72px;
}
.games__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.games-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  background-color: #fff;
}
.games-card__img {
  grid-column: span 1;
  border-radius: 30px;
  width: 100%;
}
.games-card__content {
  grid-column: span 1;
  padding: 48px;
}
.games-card__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 100%;
}
.games-card__desc {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 36px;
}
.games-card__btn {
  background-color: #202027;
  color: #FFFFFF;
  line-height: 142%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px 75.5px;
  border-radius: 60px;
  box-sizing: border-box;
  border: 1px solid #202027;
  transition: all 0.4s;
}
.games-card__btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.footer {
  background-color: #BDED35;
}
.footer__content {
  color: #000000;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1199px) {
  .games-about {
    display: none;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 10.6666666666px;
  }
  .hero {
    background-image: url("./img/hero_bg_mobile.png");
    background-position: calc(50% + 84px) calc(50% - 106px);
  }
  .hero__content {
    align-items: center;
    padding-top: 107px;
  }
  .hero__title {
    font-size: 40px;
    text-align: center;
  }
  .hero__text {
    text-align: center;
    line-height: 100%;
    margin-bottom: 36px;
    padding-inline: 23.5px;
  }
  .hero__btn {
    padding-inline: 103.5px;
  }
  .ticker {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .ticker__list {
    gap: 27.4px;
  }
  .ticker__item {
    font-size: 1.5rem;
    letter-spacing: 0.04em;
    gap: 27.4px;
  }
  .ticker__item::after {
    width: 1.813125rem;
    height: 1.813125rem;
  }
  .main {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .games-about {
    display: none;
  }
  .games {
    margin-top: 0;
  }
  .games__title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .games__content {
    gap: 24px;
  }
  .games-card {
    grid-template-columns: 1fr;
  }
  .games-card__img {
    width: 100%;
  }
  .games-card__img_change-order {
    order: -1;
  }
  .games-card__content {
    padding: 29px;
    padding-bottom: 32px;
  }
  .games-card__title {
    margin-bottom: 16px;
  }
  .games-card__desc {
    line-height: 100%;
    margin-bottom: 32px;
  }
  .games-card__btn {
    width: 100%;
  }
  .footer__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */